@font-face {
  font-family: 'Monjangles';
  src: url('./src/assets/fonts/monjangles.ttf') format("truetype");
}

:root {
  font-family: 'Monjangles', Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Monjangles', Inter, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#disc-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#disc-info-container > img{
  width: 400px;
  margin-left: 1.5rem;
}

#disc-name-and-compositor {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FAFAFA;
  gap: 1rem;
}
#disc-name-and-compositor > span:nth-child(1) {
  font-size: 3rem;
  font-weight: bold;
}
#disc-name-and-compositor > span:nth-child(2) {
  font-size: 1.3rem;
  color: whitesmoke;
}

/* Music Player */
#music-player-song-progress-bar-and-time {
  display: flex;
  flex-direction: column;
}

#music-player-music-time {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: whitesmoke;
  font-size: .9rem;
}

#music-player-control-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

#music-player-time-buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
#music-player-time-buttons > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  outline: solid #020000 2px;
  background-image: url("./src/assets/mine-button-backgorund.png");
  color: white;
}
#music-player-time-buttons > button:hover {
  cursor: pointer;
  outline: 2px white solid;
  background-image: url("./src/assets/mine-button-background-hover.png");
}
#music-player-time-buttons > button:nth-child(1) {
  width: 80px;
  height: 80px;
}
#music-player-time-buttons > button:nth-child(3) {
  width: 80px;
  height: 80px;
}

#music-player-flux-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#music-player-flux-buttons > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
  outline: solid #020000 2px;
  font-weight: bold;
  color: whitesmoke;
  background-image: url("./src/assets/mine-button-backgorund.png");
  padding: .5rem;
  font-size: .87rem;
  text-shadow: rgb(57, 57, 57) 1.2px 2px 0;
}
#music-player-flux-buttons > button:hover {
  cursor: pointer;
  outline: 2px white solid;
  background-image: url("./src/assets/mine-button-background-hover.png");
}