@font-face {
  font-family: 'Monjangles';
  src: url('./src/assets/fonts/monjangles.ttf') format("truetype");
}

:root {
  font-family: 'Monjangles', Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Monjangles', Inter, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#disc-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#disc-info-container > img{
  width: 400px;
  margin-left: 1.5rem;
  filter: drop-shadow(5px 5px 5px #222);
}

#disc-name-and-compositor-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  outline: #545454 solid 3px;
  width: fit-content;
  padding: .5rem 2rem .5rem 1.5rem;
  border-radius: 2px;
  background-image: url("./src/assets/advancement-background.png");
  box-shadow: rgba(0, 0, 0, 0.5) 0 20px 30px 0;

  & img {
    width: 35px;
    height: 35px;
  }
}

#disc-name-and-compositor-only {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
}
#disc-name-and-compositor-only > span:nth-child(1) {
  color: yellow;
  font-size: large;
}
#disc-name-and-compositor-only > span:nth-child(2) {
  font-size: small;
  color: white;
}

/* Music Player */
#music-player-song-progress-bar-and-time {
  display: flex;
  flex-direction: column;
}

#music-player-music-time {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: whitesmoke;
  font-size: .9rem;
}

#music-player-control-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

#music-player-time-buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
#music-player-time-buttons > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  outline: solid #020000 2px;
  background-image: url("./src/assets/mine-button-backgorund.png");
  color: white;
}
#music-player-time-buttons > button:hover {
  cursor: pointer;
  outline: 2px white solid;
  background-image: url("./src/assets/mine-button-background-hover.png");
}
#music-player-time-buttons > button:nth-child(1) {
  width: 80px;
  height: 80px;
}
#music-player-time-buttons > button:nth-child(3) {
  width: 80px;
  height: 80px;
}

#music-player-flux-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#music-player-flux-buttons > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
  outline: solid #020000 2px;
  font-weight: bold;
  color: whitesmoke;
  background-image: url("./src/assets/mine-button-backgorund.png");
  padding: .5rem;
  font-size: .87rem;
  text-shadow: rgb(57, 57, 57) 1.2px 2px 0;
}
#music-player-flux-buttons > button:hover {
  cursor: pointer;
  outline: 2px white solid;
  background-image: url("./src/assets/mine-button-background-hover.png");
}

/* Disc Drawler */
#chest-button {
  position: fixed;
  z-index: 1;
  right: 2rem;
  top: 1rem;
  width: 70px;

  &:hover {
    cursor: pointer;
  }
}

#disc-list-drawer {
  background-color: #c2c2c2;
  width: 550px;
  height: fit-content;
  padding: 12px;
  transform: translateX(100%);
  display: none;
  margin-right: 12px;
  border-top: #ffffff solid 3px;
  border-left: #ffffff solid 3px;
  border-bottom: #555555 solid 3px;
  border-right: #555555 solid 3px;

  &.open {
    margin-top: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 2px;
    transform: translateX(0%);
  }
}

.disc-slot {
  display: flex;
  position: relative;
  background-color: #8b8b8b;
  width: fit-content;
  border-bottom: #ffffff solid 2px;
  border-right: #ffffff solid 2px;
  border-top: #555555 solid 2px;
  border-left: #555555 solid 2px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding-right: 2px;

  & img {
    width: 50px;
  }

  & .disc-slot-overlay {
    display: none;
  }
  
  &:hover .disc-slot-overlay {
    display: block;
    position: absolute;
    opacity: 0.5;
    width: 50px;
    height: 50px;
    background-color: #c5c5c5;
    z-index: 2;
  }
}

.active-disc-slot {
  background-color: #c5c5c5;
  transition: all 0.3s ease; /* Para uma animação suave */
}

#disc-list-drawer, .disc-slot {
  box-sizing: border-box;
}